## FoxyRoute Rewrites
## Remember to correctly set the rewrite base variable, this example assumes
## that example.php is accessible via localhost/foxyroute/

RewriteEngine on
RewriteRule . - [E=REWRITEBASE:/foxyroute/] ## <- Rewrite base!!!
RewriteCond %{REQUEST_FILENAME} !-s 
RewriteRule ^(.*)$ %{ENV:REWRITEBASE}example.php/$1 [L]