## FoxyRoute Rewrites
## Remember to correctly set the base directory and app file name, this example 
## is set up for example.php accessible via localhost/foxyroute/

RewriteEngine on

RewriteRule . - [E=REWRITEBASE:/foxyroute/] ## <- Base directory!
RewriteRule . - [E=APP:example.php] ## <- App file name!

RewriteCond %{REQUEST_FILENAME} !-s 
RewriteRule ^(.*)$ %{ENV:REWRITEBASE}%{ENV:APP}/$1 [L]